/* #region Navigation Bar */
.navElement {
  display: inline-block;
  width: 6%;
  min-width: 75px;
}
.navList {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  border-color: rgb(215, 215, 215);
  border-width: 2px;
  border-top-style: inset;
  border-bottom-style: inset;
  clear: both; /*Float below the titleBar*/
}
.navLink {
  display: inline-block;
  color: rgb(100, 100, 100);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}
.navLink:hover {
  color: rgb(44, 207, 255);
}
.navElement:hover {
  background-color: rgb(255, 255, 255);
}
/* #endregion Navigation Bar */

/* #region Title Bar */
.title {
  float: left;
  color: rgb(100, 100, 100);
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  line-height: 150%;
  text-decoration: none;
  font-weight: bolder;
  margin: 20px;
  margin-right: auto;
  padding-right: 100px;
}
.title:hover {
  text-decoration: none;
  color: rgb(44, 207, 255);
}
.contact {
  color: rgb(100, 100, 100);
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  line-height: 150%;
  text-decoration: none;
  font-weight: bolder;
  margin: 20px;
  margin-left: auto;
  float: right;
}
.contact:hover {
  text-decoration: none;
  color: rgb(44, 207, 255);
}

.tooltip-inner {
  max-width: 50% !important;
  margin: auto;
}
/* #endregion */

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(148, 148, 148);
  color: white;
  text-align: center;
}

.accordion-item {
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(148, 148, 148);
  width: 70%;
  min-width: 400px;
  margin: auto;
}

.accordion-button {
  background-color: rgb(240, 240, 240);
}

.accordion-button:not(.collapsed) {
  background-color: rgb(240, 240, 240);
}

body {
  margin: 0;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 60%, rgb(235, 235, 235) 100%) fixed;
}

html {
  height: 100%;
}

.pageTitle {
  display: block;
  color: rgb(0, 171, 201);
  font-family: Georgia, serif;
  font-weight: bolder;
  font-size: 25px;
  line-height: 150%;
  margin: 20px;
  text-align: center;
}

h3 {
  display: block;
  color: rgb(0, 171, 201);
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 150%;
  margin: 20px;
  text-align: center;
}

.subHeader {
  display: block;
  color: rgb(0, 171, 201);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 150%;
  margin: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

a {
  color: rgb(112, 87, 253);
}

.image {
  border-width: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-style: ridge;
  width: 30%;
  min-width: 300px;
}

.horizRule {
  width: 65%;
  display: block;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  height: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(48, 48, 48);
  background-color: rgb(48, 48, 48);
}

.normalText {
  display: block;
  color: rgb(32, 32, 32);
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}

.normalListElement {
  color: rgb(32, 32, 32);
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  text-align: left;
}

.normalList {
  margin-left: 30%;
  margin-right: 30%;
  padding: 0;
  list-style-type: disc;
}

.normalList2 {
  margin-left: 22.5%;
  margin-right: 22.5%;
  padding: 0;
  list-style-type: disc;
}

.embed {
  margin: auto;
  width: 80%;
}