/* #region Navigation Bar */
.navElement {
  display: inline-block;
  width: 6%;
  min-width: 75px;
}
.navList {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgb(105, 105, 105);
  list-style-type: none;
  border:rgb(230, 230, 230);
  border-width: 2px;
  border-top-style: ridge;
  border-bottom-style: ridge;
  clear: both; /*Float below the titleBar*/
}
.navLink {
  display: inline-block;
  color: rgb(240, 240, 240);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}
.navLink:hover {
  color: rgb(240, 240, 240);
}
.navElement:hover {
  background-color: rgb(124, 124, 124);
}
/* #endregion Navigation Bar */

/* #region Title Bar */
.title {
  float: left;
  color: rgb(255, 210, 64);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  line-height: 150%;
  text-decoration: none;
  font-weight: bold;
  margin: 20px;
  margin-right: auto;
  padding-right: 250px;
}
.title:hover {
  text-decoration: underline;
  color: rgb(255, 210, 64);
}
.contact {
  color: rgb(255, 210, 64);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  line-height: 150%;
  text-decoration: none;
  font-weight: bold;
  margin: 20px;
  margin-left: auto;
  float: right;
}
.contact:hover {
  text-decoration: underline;
  color: rgb(255, 210, 64);
}
/* #endregion */

.accordion-item {
  background-color: rgb(39, 39, 39);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(148, 148, 148);
  width: 70%;
  margin: auto;
}

.accordion-button {
  background-color: rgb(63, 63, 63);
}

.accordion-button:not(.collapsed) {
  background-color: rgb(63, 63, 63);
}

body {
  margin: 0;
  background-color: rgb(39, 39, 39);
}

.pageTitle {
  display: block;
  color: rgb(255, 210, 64);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 150%;
  margin: 20px;
  text-align: center;
}

h3 {
  display: block;
  color: rgb(255, 210, 64);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 150%;
  margin: 20px;
  text-align: center;
}

.subHeader {
  display: block;
  color: rgb(255, 210, 64);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 150%;
  margin: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

a {
  color: rgb(112, 87, 253);
}

.image {
  border-width: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-style: ridge;
  width: 30%;
  min-width: 300px;
}

.horizRule {
  width: 65%;
  display: block;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  height: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(218, 218, 218);
  background-color: rgb(180, 180, 180);
}

.normalText {
  display: block;
  color: rgb(240, 240, 240);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 150%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}

.normalListElement {
  color: rgb(240, 240, 240);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 150%;
  text-align: left;
}

.normalList {
  margin-left: 30%;
  margin-right: 30%;
  padding: 0;
  list-style-type: disc;
}

.normalList2 {
  margin-left: 22.5%;
  margin-right: 22.5%;
  padding: 0;
  list-style-type: disc;
}

.embed {
  margin: auto;
  width: 80%;
}